.product-form {
    width: 20rem;
    margin: auto;
    max-width: 90%;
}

.form-control {
    margin: 1rem 0;

}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
}

.form-control input {
    border: 1px solid rgb(255, 187, 0);;
    font: inherit;
    border-radius: 2px
}

button {
    font: inherit;
    background: white;
    border: 1px solild black;
    border-radius: 3px;
    color: rgb(28, 172, 255);
    cursor: pointer;
}

button:hover,
button:active {
    color: white;
    background-color: rgb(28, 172, 255);
}